@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

*{
  margin: 0px;
  padding: 0px;
  background-color: #000;
  font-family: 'Lora', serif;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  min-height: 100px;
}

.title{
  font-size: 100px;
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}
.texto{
  font-size: 16px;
}
.geral {
  min-width: 500px;
  min-height: 500px;
  position: relative;
}
.box {
  min-width: 500px;
  min-height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 1s ease;
  background-color: #000;
  color: #fff;
}
.ativo {
  opacity: 1;
}
.header-link{
  color: red;
  text-decoration: none;
}
.header-link.active{
  color: orange;
}
.click{
  position: absolute;
  z-index: 10;
}
